@media (max-width: 1200px) {
	.promo {
		&__header {
			font-size: 40px;
		}
		&__subheader {
			font-size: 22px;
		}
	}
}
@media (max-width: 991px) {
	.header {
		justify-content: space-around;
		&__logo {
			img {
				width: 90%;
			}
		}
	}
	.promo {
		&__wrapper {
			width: 100%;
			padding-right: 55px;
		}
		&__header {
			font-size: 34px;
		}
		&__subheader {
			font-size: 18px;
		}
		&__icon {
			font-size: 13px;
			img {
				width: 38px;
			}
		}
		&__link {
			font-size: 15px;
		}
	}
	.button {
		&_main {
			width: 265px;
			font-size: 15px;
		}
	}
	.title {
		font-size: 27px;
		&_left {
			padding-left: 55px;
		}
	}
	.advantages {
		&__item{
			img {
				width: 50px;
			}
		}
		&__subtitle {
			font-size: 17px;
		}
		&__descr {
			font-size: 12px;
		}
	}
	.consultation {
		&__descr {
			padding-left: 55px;
			font-size: 18px;
		}
	}
	.feed-form {
		padding-left: 55px;
	}
	.carousel {
		padding: 50px 0;
		&__inner {
			width: 70%;
			img {
				margin: none;
				width: 100%

			}
		}
		.slick-dots {
			padding: 0;
		}
	}
	.catalog {
		&__content {
			justify-content: space-evenly;
		}
		&-item {
			width: 280px;
			padding:20px 10px 20px 10px ;
		}
	}
	.feed {
		&__item {
			padding-left: 30px;
		}
		&__img {
			width: 150px;
			height: 150px;
		}
		&__text {
			margin-left: 50px;
			padding-right: 90px;
		}
		&__subtitle {
			font-size: 16px;
		}
		&__count {
			font-size: 13px;
		}
		&__descr {
			font-size: 14px;
		}
	}
	.footer {
		&__info {
			width: 390px;
			height: 205px;
		}
		&__addr {
			font-size: 15px;
			margin-bottom: 20px;
			line-height: 10px;
		}
		&__phone {
			font-size: 17px;
			margin-bottom: 32px;
		}
		&__social-item {
			width: 45px;
			height: 45px;
		}
	}
}
@media (max-width: 767px) {
	.title {
		font-size: 23px;
		&_left {
			font-size: 23px;
		}
	}
	.header {
		justify-content: space-around;
		&__logo {
			img {
				width: 80%;
			}
		}
		&__official {
			font-size: 12px;
			span {
				font-size: 17px;
			}
		}
		&__phone {
			font-size: 15px;
		}
	}
	.promo {
		width: 100%;
		&__wrapper{
			padding-right: 35px;
		}
		&__header {
			font-size: 32px;
		}
		&__subheader {
			font-size: 16px;
		}
		&__icon {
			font-size: 13px;
			img {
				width: 38px;
			}
		}
		&__link {
			font-size: 15px;
		}
	}
	.button {
		width: 120px;
		height: 27px;
		font-size: 10px;
		&_main {
			font-size: 13px;
			width: 220px;
			height: 40px;
		}
		&_submit {
			width: 100%;
			height: 50px;
			font-size: 14px;
		}
		&_mini {
			width: 125px;
			height: 32px;
			font-size: 14px;
		}
	}
	.advantages {
		padding: 71px 0 0 0;
		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__item {
			margin-bottom: 35px;
		}
	}
	.consultation {
		min-height: 550px;
		padding: 55px 0 30px 0;
		&__descr {
			margin-top: 40px;	
			font-size: 16px;
		}
	}
	.feed-form {
		width: 270px;
		padding-left: 55px;
		input {
			height: 45px;
		}
	}
	.catalog {
		&__tab {
			width: 170px;
		}
	}
	.feed {
		&__item {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-left: 0;
			margin-top: 75px;
			&:nth-child(2) {
				margin-top: 60px;
		}
		}
		&__img {
			display: block;
			margin: 0 auto;
		}
		&__subtitle {
			text-align: center;
			margin-top: 20px;
		}
		&__count {
			text-align: center;
		}
		&__text {
			margin-left: 0;
			padding-right: 0;
			text-align: center;
			margin: 0 90px;
		}
	}
	
}
@media (max-width: 575px) {
	.title {
		font-size: 21px;
		&_left {
			padding-left: 0;
			text-align: center;
			font-size: 23px;
		}
	}
	.header {
		&__official{
			display: none;
		}
	}
	.promo {
		&__wrapper {
			width: 100%;
			align-items: center;
		}
	}
	.button {
		width: 120px;
		height: 27px;
		font-size: 10px;
		&_main {
			font-size: 14px;
			width: 270px;
			height: 42px;
		}
		&_submit {
			width: 100%;
			height: 50px;
			font-size: 14px;
		}
		&_mini {
			width: 125px;
			height: 32px;
			font-size: 14px;
		}
	}
	.consultation {
		min-height: 550px;
		padding: 55px 0 30px 0;
		&__descr {
			padding-left: 0;
			margin-top: 40px;	
			font-size: 16px;
			text-align: center;
		}
	}
	.feed-form {
		display: flex;
		margin: 0 auto;

		width: 270px;
		padding: 40px 0 0 0;
		input {
			height: 45px;
		}
	}
	.catalog {
		&__tabs {
			margin-top: 50px;
		}
		&__tab {
			width: 110px;
			height: 35px;
			font-size: 11px;
			line-height: 35px;
		}

	}
	.feed {
		&__text {
			margin: 0 50px;
		}
	}
	.footer {
		&__info {
			width: 325px;
			height: 160px;
			padding: 20px 30px 20px 30px;
		}
	}
}
@media (max-width: 430px) {
	.title {

		&_left{
			font-size: 16px
		}
	}
	.promo {
		&__header {
			font-size: 28px;
		}
		&__subheader {
			font-size: 15px;
		}
		&__icons {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			img {
				width: 45px;
			}
			
		}
		&__icon{
				width: 160px;
				font-size: 15px;
				margin-bottom: 30px;
			}
	}
	.button {
		width: 120px;
		height: 27px;
		font-size: 10px;
		&_main {
			margin-top: 37px;
			font-size: 14px;
			width: 270px;
			height: 42px;
		}
		&_submit {
			width: 100%;
			height: 50px;
			font-size: 14px;
		}
		&_mini {
			width: 125px;
			height: 32px;
			font-size: 14px;
		}
	}
	.consultion {
		&__descr {
			font-size: 14px;
		}
	}
	.catalog {
		padding-bottom: 40px;
	}
	.footer {
		&__info {
			width: 260px;
			height: 130px;
			padding: 20px 20px 20px 20px;
		}
		&__addr {
			font-size: 13px;
			margin-bottom: 16px;
			line-height: 10px;
		}
		&__phone {
			font-size: 15px;
			margin-bottom: 15px;
		}
		&__social-item {
			width: 30px;
			height: 30px;
			img {
				height: 17px;

			}
		}
	}
}
